html, body {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-image: url("https://wallpaper.dog/large/20552168.jpg");
 background-size: cover;
}

#scene-description {
 width: 600px;
 margin: 20px auto;
 text-align: center;
 font-family: "Trebuchet MS";
 font-size: 0.8em;
 color: white;
}

#scene-container {
 width: 600px;
 height: 400px;
 margin: auto;
 border: 5px solid black;
 background-color: white;
 overflow: hidden; /* contain objects "on-screen" */
}

#background {
    width: 600px;
    height: 400px;
}

#trexidle {
    position: relative;
    top: 150px;
    width: 150px;
}

#car1 {
    position: relative;
    width: 200px;
    top: 200px;
    left: -190px;
}

#car2 {
    position: relative;
    width: 200px;
    top: 110px;
    left: 280px;
}

#toilet {
    position: relative;
    width: 100px;
    top: 200px;
    left: 315px;
}

#alan {
    position: relative;
    width: 80px;
    top: 110px;
    left: -20px;
}

#ian {
    position: relative;
    width: 35px;
    top: 100px
}
