html, body {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-image: url("https://wallpaper.dog/large/20552168.jpg");
 background-size: cover;
}

#scene-description {
 width: 600px;
 margin: 20px auto;
 text-align: center;
 font-family: "Trebuchet MS";
 font-size: 0.8em;
 color: white;
}

#scene-container {
 width: 600px;
 height: 400px;
 margin: auto;
 border: 5px solid black;
 background-color: white;
 background-image: url(https://i.pinimg.com/736x/3d/84/21/3d842159ad286b8be5f2615fadad8ac3.jpg);
 overflow: hidden; /* contain objects "on-screen" */
}

#background {
    width: 600px;
    height: 400px;
}

#trexidle {
    position: relative;
    width: 150px;
    top: 150px;
    left: -185px;
    z-index: 1;
    animation-name: trex;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#trexrun {
    position: relative;
    width: 200px;
    top: 150px;
    z-index: 1;
    animation-name: trexrun;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes trex {
    0% { transform: translate(0px, 0px); opacity: 1; }
    15% { transform: translate(0px, 70px); opacity: 1; }
    20% { transform: translate(0px, 70px); opacity: 1; }
    30% { transform: translate(0px, 70px) rotate(30deg); opacity: 1; }
    35% { transform: translate(0px, 70px) rotate(-15deg); opacity: 1; }
    40% { transform: translate(0px, 70px) rotate(0deg); opacity: 1; }
    41% { transform: translate(0px, 70px); opacity: 0; }
    59% { transform: translate(170px, 80px); opacity: 0; }
    60% { transform: translate(170px, 80px); opacity: 1; }
    75% { transform: translate(170px, 80px); opacity: 1; }
    76% { transform: translate(170px, 80px); opacity: 0; }
    84% { transform: translate(430px, 75px); opacity: 0; }
    85% { transform: translate(430px, 75px); opacity: 1; }
    90% { transform: translate(430px, 75px) rotate(45deg); opacity: 1; }
    95% { transform: translate(430px, 75px) rotate(0deg); opacity: 1; }
    100% { transform: translate(430px, 75px); opacity: 1; }
}

@keyframes trexrun {
    0% { transform: translate(0px, 0px); opacity: 0; }
    15% { transform: translate(0px, 70px); opacity: 0; }
    20% { transform: translate(0px, 70px); opacity: 0; }
    30% { transform: translate(0px, 70px) rotate(30deg); opacity: 0; }
    35% { transform: translate(0px, 70px) rotate(-15deg); opacity: 0; }
    40% { transform: translate(0px, 70px) rotate(0deg); opacity: 0; }
    41% { transform: translate(0px, 70x); opacity: 1; }
    59% { transform: translate(170px, 80px); opacity: 1; }
    60% { transform: translate(170px, 80px); opacity: 0; }
    75% { transform: translate(170px, 80px); opacity: 0; }
    76% { transform: translate(170px, 80px); opacity: 1; }
    84% { transform: translate(430px, 75px); opacity: 1; }
    85% { transform: translate(430px, 75px); opacity: 0; }
    90% { transform: translate(430px, 75px) rotate(45deg); opacity: 0; }
    95% { transform: translate(430px, 75px) rotate(0deg); opacity: 0; }
    100% { transform: translate(430px, 75px); opacity: 0; }
}

#car1 {
    position: relative;
    width: 200px;
    top: 110px;
    left: 70px;
    animation: carflip 8s infinite linear;
}

@keyframes carflip {
    0% { transform: rotate(0deg); }
    35% { transform: rotate(0deg); }
    36% { transform: rotate(0deg) translateY(-40px); }
    44% { transform: rotate(180deg) translateY(40px); }
    45% { transform: rotate(180deg) translateY(0px); }
    100% { transform: rotate(180deg); }
}

#car2 {
    position: relative;
    width: 200px;
    top: 110px;
    left: 80px;
}

#toilet {
    position: relative;
    width: 100px;
    top: 200px;
    left: 135px;
}

#alan {
    position: relative;
    width: 80px;
    top: 95px;
    left: -70px;
    opacity: 0.5;
    animation: alan 8s infinite linear; 
}

@keyframes alan {
    0% { transform: translate(0px, 0px); }
    10% { transform: translate(0px, 20px); opacity: 1; }
    15% { transform: translate(0px, 20px); opacity: 1; }
    20% { transform: translate(0px, 25px); opacity: 1; }
    25% { transform: translate(0px, 20px); opacity: 1; }
    30% { transform: translate(0px, 20px); opacity: 1; }
    40% { transform: translate(0px, 0px); opacity: 0.5; }
    100% { transform: translate(0px, 0px); }
}

#ian {
    position: relative;
    width: 30px;
    top: 95px;
    left: -100px;
    opacity: 0.5;
    animation: ian 8s infinite linear;
}

@keyframes ian {
    0% { transform: translate(0px, 0px); }
    30% { transform: translate(0px, 0px); opacity: 0.5; }
    40% { transform: translate(0px, 35px); opacity: 1; }
    60% { transform: translate(0px, 35px); opacity: 1; }
    80% { transform: translate(215px, 35px); opacity: 1; }
    100% { transform: translate(215px, 35px); opacity: 1; }
}

#flare1 {
    position: relative;
    width: 30px;
    top: 100px;
    left: -170px;
    opacity: 0.5;
    animation: flare1 8s infinite linear;
}

@keyframes flare1 {
    0% { transform: translate(0px, 0px); }
    10% { transform: translate(0px, 20px); opacity: 1; }
    15% { transform: translate(0px, 20px); opacity: 1; }
    20% { transform: translate(0px, 25px); opacity: 1; }
    25% { transform: translate(-70px, 45px); opacity: 1; }
    30% { transform: translate(-70px, 45px); opacity: 1; }
    40% { transform: translate(-70px, 45px); opacity: 1; }
    100% { transform: translate(-70px, 45px); opacity: 1; }
}

#flare2 {
    position: relative;
    width: 30px;
    top: 80px;
    left: -175px;
    opacity: 0.5;
    animation: flare2 8s infinite linear;
}

@keyframes flare2 {
    0% { transform: translate(0px, 0px); }
    30% { transform: translate(0px, 0px); opacity: 0.5; }
    40% { transform: translate(0px, 35px); opacity: 1; }
    60% { transform: translate(0px, 35px); opacity: 1; }
    80% { transform: translate(215px, 35px); opacity: 1; }
    100% { transform: translate(215px, 35px); opacity: 1; }
}

#lawyer {
    position: relative;
    width: 40px;
    top: 10px;
    left: 530px;
}
